name: Packages Continuous Integration Workflow

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  check-changed-files:
    runs-on: ubuntu-latest
    outputs:
      should-build-riverpod-app: ${{ steps.determine-builds.outputs.should-build-riverpod-app }}
      should-build-bloc-app: ${{ steps.determine-builds.outputs.should-build-bloc-app }}
      should-build-common: ${{ steps.determine-builds.outputs.should-build-common }}
      any-tests-to-run: ${{ steps.determine-builds.outputs.any-tests-to-run }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v47
        with:
          files_yaml: |
            riverpod_app:
              - 'riverpod_app/**'
            bloc_app:
              - 'bloc_app/**'
            common_app_files:
              - 'mock_challenges.json'
              - 'mock_concepts.json'
            common_files:
              - '.fvmrc'
              - 'codecov.yml'
              - '.github/workflows/ci-packages.yaml'
              - '.github/actions/build-flutter-package/action.yaml'
              - '.github/actions/check-flutter-package/action.yaml'
              - '.github/actions/setup-flutter-package/action.yaml'
              - '.github/actions/run-tests/action.yaml'
              - '.github/actions/upload-test-results/action.yaml'
            common:
              - 'common/**'
      - name: Determine which packages to build
        id: determine-builds
        run: |
          RIVERPOD_APP="${{ steps.changed-files.outputs.riverpod_app_any_modified }}"
          BLOC_APP="${{ steps.changed-files.outputs.bloc_app_any_modified }}"
          COMMON="${{ steps.changed-files.outputs.common_any_modified }}"
          COMMON_APP_FILES="${{ steps.changed-files.outputs.common_app_files_any_modified }}"
          COMMON_FILES="${{ steps.changed-files.outputs.common_files_any_modified }}"

          # Determine if each package should be built
          if [[ "$RIVERPOD_APP" == "true" || "$COMMON_APP_FILES" == "true" || "$COMMON_FILES" == "true" || "$COMMON" == "true" ]]; then
            echo "should-build-riverpod-app=true" >> $GITHUB_OUTPUT
          else
            echo "should-build-riverpod-app=false" >> $GITHUB_OUTPUT
          fi

          if [[ "$BLOC_APP" == "true" || "$COMMON_APP_FILES" == "true" || "$COMMON_FILES" == "true" || "$COMMON" == "true" ]]; then
            echo "should-build-bloc-app=true" >> $GITHUB_OUTPUT
          else
            echo "should-build-bloc-app=false" >> $GITHUB_OUTPUT
          fi

          if [[ "$COMMON" == "true" || "$COMMON_FILES" == "true" ]]; then
            echo "should-build-common=true" >> $GITHUB_OUTPUT
          else
            echo "should-build-common=false" >> $GITHUB_OUTPUT
          fi

          # Determine if any tests will run
          if [[ "$RIVERPOD_APP" == "true" || "$BLOC_APP" == "true" || "$COMMON" == "true" || "$COMMON_APP_FILES" == "true" || "$COMMON_FILES" == "true" ]]; then
            echo "any-tests-to-run=true" >> $GITHUB_OUTPUT
          else
            echo "any-tests-to-run=false" >> $GITHUB_OUTPUT
          fi

  build-riverpod-app:
    needs: check-changed-files
    if: ${{ needs.check-changed-files.outputs.should-build-riverpod-app == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Build Riverpod App
        uses: ./.github/actions/build-flutter-package
        with:
          working-directory: riverpod_app

  build-bloc-app:
    needs: check-changed-files
    if: ${{ needs.check-changed-files.outputs.should-build-bloc-app == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Build Bloc App
        uses: ./.github/actions/build-flutter-package
        with:
          working-directory: bloc_app

  build-common:
    needs: check-changed-files
    if: ${{ needs.check-changed-files.outputs.should-build-common == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Build Common Package
        uses: ./.github/actions/build-flutter-package
        with:
          working-directory: common

  check-build-results:
    runs-on: ubuntu-latest
    needs: [check-changed-files, build-riverpod-app, build-bloc-app, build-common]
    # Always run this job, even if dependencies are skipped or fail
    if: ${{ !cancelled() }}
    steps:
      - name: Check build job results
        run: |
          echo "Riverpod App Result: ${{ needs.build-riverpod-app.result }}"
          echo "Bloc App Result: ${{ needs.build-bloc-app.result }}"
          echo "Common Package Result: ${{ needs.build-common.result }}"
          if [[ "${{ needs.build-riverpod-app.result }}" == "failure" || "${{ needs.build-bloc-app.result }}" == "failure" || "${{ needs.build-common.result }}" == "failure" ]]; then
            echo "One or more build jobs failed."
            exit 1
          else
            echo "All build jobs passed."
          fi
      - name: Empty upload to pass codecov checks
        if: ${{ needs.check-changed-files.outputs.any-tests-to-run == 'false' }}
        uses: codecov/codecov-action@v5
        with:
          run_command: empty-upload
